#!/usr/bin/env -S make -f

export XMAKE_ROOT=y
export HOME=$(patsubst %/,%,$(dir $(patsubst %/,%,$(dir $(realpath $(lastword ${MAKEFILE_LIST}))))))/.xmake
PATH=${HOME}:/bin:/usr/bin:/sbin:/usr/sbin

%:
	dh $@

override_dh_auto_configure:
	install -d ${HOME}
	echo -e "#!${SHELL}\necho I am git" > ${HOME}/git
	chmod +x ${HOME}/git
	xmake g --network=private
	xmake f --verbose

override_dh_auto_build:
	xmake
